<div class="container-fuild-header fiw-contact-mobile">
  <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/bakersdesk/"><i class="fab fa-instagram-square"></i></a></li>
  <li class="nav-item"><a class="nav-link" href="https://wa.me/917008716283"><i class="fab fa-whatsapp-square"></i></a></li>
  <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/thebakersdeskk/"><i class="fab fa-facebook"></i></a></li>
</div>

<header class="d-flex nav container-fuild-header navigation-bar navbar navbar-expand-lg py-0">

    <a class="navbar-brand ms-2 p-0" href="/"><img class="img-logo" src="images/Untitled2.png" alt="brand-logo" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item"><a class="nav-link" href="/" aria-current="page">HOME</a></li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="cake" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          PRODUCTS</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="nav-item"><a class="nav-link" href="menu">MENU</a></li>
          <li class="nav-item"><a class="nav-link" href="cake">PHOTO GALLERY</a></li>
          <li class="nav-item"><a class="nav-link" href="/#testimonials">REVIEWS</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="aboutus">ABOUT US</a></li>
      <li class="nav-item"><a class="nav-link" href="https://wa.me/917008716283">CUSTOM CAKE</a></li>
      </ul>
      <ul class="navbar-nav me-4">
        <li class="nav-item fiw-contact"><a class="nav-link" href="https://wa.me/917008716283"><i class="fab fa-whatsapp-square"></i></a></li>
        <li class="nav-item fiw-contact"><a class="nav-link" href="https://www.instagram.com/bakersdesk/"><i class="fab fa-instagram-square"></i></a></li>
        <li class="nav-item fiw-contact"><a class="nav-link" href="https://www.facebook.com/thebakersdeskk/"><i class="fab fa-facebook"></i></a></li>
      </ul>

</div>
</header>
