<%- include('partials/header'); -%>
<%- include('partials/navigation'); -%>

<div class="aboutus">
  <div>
    <h1>The Baker's Desk</h1>
    <h2>Mobile: <a href="tel:+917008716283">+917008716283</a></h2>
    <h2>Email: <a href="mailto:thebakerdesk@gmail.com">thebakerdesk@gmail.com</a></h2>
    <h2>Address: Rourkela, Odisha, India</h2>
  </div>
</div>


<%- include('partials/footer'); -%>
