<%- include('partials/header'); -%>
<%- include('partials/navigation'); -%>


<div class="photo-gallery">
  <h1>Menu</h1>
</div>

<div class="menu-page">
  <div class="">
    <h1>CHOCOLATES</h1>
    <li>Oreo flavour</li>
    <li>Paan Flavour</li>
    <li>Caramel Filled</li>
    <li>Roasted Almonds</li>
    <li>Roasted Nuts</li>
    <li>Marble Minis</li>
    <li>Dark Chocolate Minis</li>
    <li>White chocolate minis</li>
    <li>Milk Chocolate Minis</li>
    <li>Marble Bar</li>
    <li>Dark Chocolate Bar</li>
    <li>White Chocolate Bar</li>
    <li>Milk Chocolate Bar</li>
    <li>Orange Flavoured</li>
    <li>Chocolava</li>
    <li>Strawberry filling</li>
    <li>Blueberry filling</li>
    <li>Hazelnut Flavour</li>
    <li>Customised Message or Name Chocolate Bars</li>
  </div>

  <div class="">
    <h1>CAKES</h1>
    <li>Vanilla Cake</li>
    <li>Chocolate Chips Cake</li>
    <li>Chocolate truffle Cake</li>
    <li>Pineapple Cake</li>
    <li>Butterscotch Cake</li>
    <li>Mixed Fruit Cake</li>
    <li>Black Currant Cake</li>
    <li>Blueberry Cake</li>
    <li>Black Forest Cake</li>
    <li>Cookies and Cream Cake</li>
    <li>Red Velvet Cake</li>
    <li>Blue Velvet Cake</li>
    <li>KitKat Cake</li>
    <li>Red Velvet Oreo Cake</li>
    <li>Paan Cake</li>
    <li>Rasmalai Cake</li>
    <li>Rabdi Cake</li>
    <li>Half and Half Cakes (combine any two flavours of your Choice)</li>
  </div>

  <div class="">
    <h1>CUPCAKES</h1>
    <li>Chocolate Truffle Cupcake</li>
    <li>Black Currant Cupcake</li>
    <li>Strawberry Cupcake</li>
    <li>Blueberry Cupcake</li>
    <li>Pineapple Cupcake</li>
    <li>Butterscotch Cupcake</li>
    <li>Red Velvet Cupcake</li>
    <li>Blue Velvet Cupcake</li>
    <li>Chocolava</li>
    <li>Cookies and Cream Cupcake</li>
    <li>Chocolate Chips Cupcake</li>
    <li>Vanilla cupcake</li>
  </div>

  <div class="">
    <h1>DOUGHNUTS(baked 0r fried)</h1>
    <li>Dark Chocolate Glaze</li>
    <li>White Chocolate Glaze</li>
    <li>Coffee Glaze</li>
    <li>Marble Glaze</li>
    <li>Caramel Glaze</li>
    <li>Oreo Glaze</li>
    <li>Roasted Almond Glaze</li>
    <li>Chocolate Filled Doughnuts</li>
  </div>

  <div class="">
    <h1>BASIC SPONGES</h1>
    <li>Vanilla Sponge</li>
    <li>Chocolate Sponge</li>
    <li>Mixed fruit Sponge</li>
    <li>Plum Cake</li>
    <li>Dry fruit cake</li>
    <li>Almond cake</li>
  </div>

  <div class="">
    <h1>MOUSSE</h1>
    <li>Chocolate Mousse</li>
    <li>Coffee Mousse</li>
    <li>Triple Chocolate Mousse</li>
  </div>
  <div class="">
    <h1>BROWNIE</h1>
  </div>

</div>



<%- include('partials/footer'); -%>
