*{
  box-sizing: border-box;
}

 html, body, header, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;
   vertical-align: baseline;
   text-decoration: none;
   text-align: center;
   font-family: Open Sans, Arial, sans-serif;
   list-style-type: none;
 }

 body {
   color: #695e4d;
 }

 a:visited, a, a:link, a:active {
   color: #c7a058;
 }

 a:hover {
   color: #587fc7;
 }

 #page-container {
  position: relative;
  min-height: 80vh;
}

 .header{
   border-bottom: 2px solid #c7a058;
 }

 /* Brand Logo */
 .img-logo {
   max-width: 110px;
 }

 .admin-h1{
   margin: 2% 2% 1%;
   padding: 0 3% 0;
   font-size: 1.5rem;
 }

 .container h1{
   font-size: 1.3rem;
   padding: 1%;
   margin: 1%;
 }

 .container span{
   font-size: 1.2rem;
   padding: 1%;
   margin: 1%;
 }

 /* Photo Gallery */
 .photo-gallery {
   padding: 2%;
 }

 .photo-gallery h1 {
   color: #c3994c;
   font-family: le-monde-livre-classic-byol, serif;
   font-style: italic;
   font-size: 40px;
   font-weight: 300;
 }

 .products {
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
   padding: 0 0 5%;
   margin: 0;
   justify-content: center;
 }

 .product {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 100%;
 }
 .product img {
   height: 20rem;
   width: 20rem;
   cursor: pointer;
 }

 .product-image-li{
   margin: 1rem 1rem 0;
 }

 .product-share-li{
   margin: 0 1rem 0.5rem;
 }

/* Zoom Image of Photo Gallery */
 .zoomImage {
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
 }

 .zoomImage:hover {opacity: 0.7;}

 /* The Modal (background) */
 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 99999; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
 }

 /* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0.5)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0.5)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* footer */
#footer {
 position: relative;
 bottom: 0;
 width: 100%;
 padding: .5%;
}

.footer-h1 ul{
  display: flex;
  justify-content: center;
}

.footer-h1 div h1{
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: .4%;
}

.footer-div{
  margin: 5px;
  padding: 5px;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
